body,
html {
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
    line-height: 1.5em;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000;
    padding: 0 20px;
    position: fixed;
    top: 0;
    z-index: 100;
    width: 100%;
    box-sizing: border-box;
    padding-top:20px;
    padding-bottom:20px;
 }

header img{
    float: left;
    margin-left:20px;
    border-radius: 30px;
}

h1 {
    text-align: center;
    color: white;
}

nav {
    display: block;
    margin-right:20px;
}
ul {
 list-style: none;
 margin: 0;
 padding: 0;
 }
nav ul li {
    float: left;
    margin-right: 15px;
}
nav ul li a {
 color: #fff;
 display: inline-block;
 text-decoration: none;
 }



.description {
    background-color: #DDDDDD;
    padding-left:200px;
    padding-right:200px;
    padding-top:50px;
    padding-bottom:50px;
}

.description img {
    float: left;
    margin-right:20px;
}
h2 {
    margin-top: 20px;
}
.description-p2 {
    clear: both;
}

.relationship {
    padding-left:200px;
    padding-right:200px;
    padding-top:50px;
    padding-bottom:50px;
}

.relationship img {
    float: right;
}

footer{
    clear: both;
    text-align: center;
    background-color: #888888;
    padding-top:50px;
    padding-bottom:50px;

}